.mentors-container {
    padding: 20px 30px
}

.mentors-container h1 {
    color: #14056b;
}

.intro-paras {
    font-size: 20px;
}

.filtered-mentors-con {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px
}
.mentor-content{
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
}
.filtered-mentors-items {
    background-color: rgb(246, 251, 252);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 16px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    list-style: none;
    max-width: 700px;
}

.filtered-mentors-items:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filtered-mentors-items h3 {
    font-size: 28px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    color: rgb(240, 128, 30);
}



.mentor-content {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.mentor-footer {
    text-align: right;
}

.book-button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #0056b3;
}

.mentor-areas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.mentor-duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;
    padding-top: 0;

}
.mentor-availability{
    padding-left: 15px;
}
.mentor-availability p {
    font-size: 17px;
    color: gray;

    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mentor-areas ul {
    margin-left: 0;
    padding-left: 10px;
}

select,
option {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    margin: 4px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 15px;
    margin: 4px;
    color: white;
    background-color: #28a745;
}